h1{
    color: orange;
    font-weight: normal;
    font-style: italic;
}
h2{
    color: orange;
    font-weight: normal;
    font-style: italic;
}
h3{
    color: orange;
    font-weight: normal;
    font-style: italic;
}
h4{
    color: orange;
    font-weight: normal;
    font-style: italic;
}
img{
        border: 5px solid black;
        padding: 20px 20px 20px 20px;
        background-color: yellow;
}
p{color: dodgerblue;background-color: seashell;}
a:link{color: red;}
a:hover{color: yellow;}
a:visited{color: green;}
#spanstyle{
    color: antiquewhite;
}
body{
font-family: Helvetica, Arial, sans-serif;
background-image: url(eyes.JPEG);
}
.centertext{
    text-align: center;
}
.justifytext{
    text-align: justify;
}