body{
    background-image: url(a5bg.png);
    background-repeat: repeat;
}
h1{
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 20px;
    font-weight: lighter;
}
nav li {
    display: inline-block;
    margin: 15px 0px;
}
nav li a{
    background-color: darkblue;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding:15px;
}
nav li a:hover{
    background-color: blue;
}
h2{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.specialbackground p{
    text-align: justify;
}
.specialbackground a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
.specialbackground a:visited{
color: blue;
    font-weight: bold;
    text-decoration: none;
}
.specialbackground a:hover{
    color: red;
    text-decoration: underline;
}
footer{
    color: white;
    background-color: darkblue;
    border: 2px solid white;
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}               
.specialbackground{
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;;
}
