body {
  background-color: #999999;
}
#wrapper {
  margin: 24px auto;
  width: 1200px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
nav {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  background-color: #f8de87;;
}
nav li{
  list-style-type: none;
  margin: 10px 0;
}
nav li a{
  text-decoration: none;
  color:black;
  transition: all 0.5s;
}
nav li a:hover{
  color:red;
}
h1{
  background-color: black;
  color:white;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: "Alfa Slab One", serif;
}
main{
margin: 0;
padding: 0;
}
h2{
  text-align: center;
    font-family: "Alfa Slab One", serif;
}
.frontprofile{
width: 250px;
margin: 0 auto;
display: block;
box-shadow: 10px 10px 2px #00000090;
border-radius: 2px;
}
main {
  grid-column: 4 / span 9;
  grid-row: 1;
}
footer {
  grid-column: 4 / span 9;
  grid-row: 2;
  color:white;
  background-color: black;
  text-align: center;
  padding: 0 10px 20px;
}
footer a{
  margin:0px 20px;
  text-decoration: none;
  color:lightskyblue;
  transition:all 0.5s;
}
footer a:hover{
  color: red;
}
.frontparagraph{
  padding: 10px 150px;
}
.alfa-slab-one-regular {  font-family: "Alfa Slab One", serif;  font-weight: 400;  font-style: normal; }
.youtube{
  margin: 10px auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 2px;
}